.MenuToggle {
  position: fixed;
  top: 42px;
  left: 19px;
  font-size: 43px;
  color: #c4c4c4;
  z-index: 100;
  cursor: pointer;
  transition: opacity, left 0.22s ease-in-out;
}

.MenuToggle:hover {
  opacity: 0.7;
}

.MenuToggle.open {
  left: 529px;
}
