html,
body {
  height: 100%;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
html {
  background: linear-gradient(
    90deg,
    rgba(31, 31, 31, 1) 0%,
    rgba(31, 31, 31, 1) 100%
  );
}

body {
  font-size: 16px;
  min-width: 1800px;
  position: relative;
  line-height: 1.75;
  overflow-x: hidden;
  opacity: 1;
  color: #333;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.App {
  height: 100%;
}
